html, body {
  /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,153,1) 59%, rgba(2,197,247,1) 100%, rgba(0,212,255,1) 100%); */
  height: 100%;
  width: 100%;
}

.mainDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.appDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcomeHeader {
  font-size: 75px;
  font-weight: 400;
}

.appLogSignDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.folderLogoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.verticalLine {
  height: 700px;
  width: 10px;
  background-color: darkblue;
  border-radius: 15px;
}

/* .bottomDiv {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: darkblue;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
